body{
    background: #f6d66c;
}
.b{
    margin: 1em;
    border: solid 1px #ffffff;
    padding-left: 10px;
    background: #ffffff;
}
.k{
    margin: 1em;
    border: solid 1px #ffffff;
    background: #ffffff;
    padding-left: 10px;
    padding-bottom: 90px;
}
.f{
    display: flex;
    justify-content: center;
    border: solid 1px #000;
    color: #000;
    font-size: 1em;
    background: #caad2c;
}